div{
    border: palevioletred solid;
    text-align: center;
    width: 30%;
    margin: 2%;
    margin-bottom: 5%;
    margin-right: 0;
    box-shadow: 2px 2px 7px;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 33px;
    box-sizing: border-box;
}
input{
    border: palevioletred;
    color: palevioletred;
    width: 80%;
}